@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&family=Zen+Kurenaido&display=swap');

nav {
    width: 100vw;
    position: sticky;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 25px;
    background-color: #f0fcfd;
}

a {
    text-decoration: none;
    color: #42426f;
}

a:hover {
    opacity: 0.6;
}

.current {
    color: black;
    font-weight: bolder;
}