.card {
    height: 275px;
    width: 275px;
    background-color:#42426F;
    color: white;
    padding: 10px 20px;
    opacity: 0.6;
}

.card:hover {
    opacity: 1;
    cursor: pointer;
}

.card.small {
    height: 100px;
    width: 100px;
}

.large.large {
    height: 300px;
    width: 300px;
}